:root {
  scroll-behavior: smooth;
}

::selection {
  color: $primary;
  background: $accent;
}

::placeholder {
  color: $gray;
  font-family: inherit;
  font-size: rem(18);
  text-overflow: ellipsis;
}

%img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

%bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -28;
  object-fit: cover;
  object-position: center;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: $fontMain;
  color: $primary;
  font-size: rem(18);
  line-height: 1.1;
  font-weight: 400;
  background-image: linear-gradient(180deg, rgba(0, 117, 255, 0.38) 3.74%, rgba(0, 194, 255, 0.38) 21.16%, rgba(255, 255, 255, 0.38) 44.17%);
  background-repeat: no-repeat;
  min-height: 100%;
  padding: rem(64);
  overflow-x: hidden;

  @media (max-width: $breakpoint768) {
    padding: rem(32);
  }
  @media (max-width: $breakpoint390) {
    padding: rem(32) 0;
  }
}

.container {
  max-width: calc($container-width + $container-padding);
  padding: 0 $container-side-padding;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: calc($container-width + $container-padding);
  background-color: $secondary;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 0 rem(48);

  @media (max-width: $breakpoint768) {
    padding: 0 rem(16);
  }

  @media (max-width: $breakpoint576) {
    padding: 0;
  }
}

h1 {
  color: $accent;
  font-size: rem(36);
}

h2 {
  color: $accent;
  font-size: rem(24);
}

.logo {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: rem(36);
  color: $accent;
}

.button {
  display: inline-block;
  font-size: rem(18);
  color: $accent;
  background-color: $secondary;
  border-radius: 30px;
  border: 1px solid $accent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: rem(10) rem(20);
  cursor: pointer;
  user-select: none;
  transition: $hover;

  @media (hover: hover) { 
    &:hover {
      color: $secondary;
      background-color: $accent;
    }
  }

  &:active {
    background-color: darken($accent, 15%);
  }

  &.loader {
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: none;
  }
}

.button--main {
  display: inline-block;
  font-size: rem(18);
  color: $secondary;
  background-color: $accent;
  padding: rem(10) rem(20);
  border: 1px solid $accent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  transition: $hover;

  @media (hover: hover) { 
    &:hover {
      background-color: darken($accent, 10%);
    }
  }

  &:active {
    background-color: darken($accent, 15%);
  }

  &.loader {
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: none;
  }
}

.qr-img-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  width: rem(166);
  height: rem(166);
  padding: rem(16);
  border: 1px solid $accent;
  border-radius: 10px;
}
  
.qr-img {
  @extend %img;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: fixed;
  opacity: 0;
  z-index: -100;
}

.disabled {
  pointer-events: none;
  color: #666;
}

input[disabled] {
  user-select: none;
}

.error-label {
  display: block;
  font-size: rem(14);
  color: $error;
  text-align: left;
  margin: rem(10) 0;
  margin-right: auto;
  padding-left: 20px;
  pointer-events: none;
}

.error-input:focus {
  box-shadow: none !important;
}

.error-input {
  border: 1px solid $error !important;
}

.loader {
  pointer-events: none;
  border: 1px solid $secondary;
  background-color: $secondary;
  animation: rotate 1s linear infinite;
  transition: border background-color 0.1s linear;
  
  & svg {
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 4px;
    border: 2px solid $gray;
    background-color: $secondary;
    border-radius: 50%;
    animation: slowFilling 2s linear infinite;
  }
}

@keyframes rotate {
  0% {overflow: hidden;}
  100% {transform: rotate(360deg);}
}

@keyframes slowFilling {
  0% {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0);}
  25% {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0);}
  50% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%);}
  75% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%);}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0);}
}


.checkmark {
  pointer-events: none;
  border: 1px solid $success;
  background-color: $success;
  transition: $hover;

  & svg {
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  &::after {
    content: "";
    position: absolute;
    height:14px;
    width: 8px;
    opacity: 1;
    transform-origin: left top;
    border-right: 2px solid $secondary;
    border-top: 2px solid $secondary;
    top: 20px;
    right: 18px;
    animation: showCheckmark ease 0.5s;
    transform: scaleX(-1) rotate(135deg);
  }
}

@keyframes showCheckmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 6px;
    width: 4px;
    opacity: 1;
  }
  40% {
    height: 10px;
    width: 6px;
    opacity: 1;
  }
  100% {
    height: 14px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes slideDown {
  0% { 
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }  
}

