:root {
  scroll-behavior: smooth;
}

::selection {
  color: $primary;
  background: $accent;
}

::placeholder {
  color: #666;
  font-family: inherit;
  font-size: rem(16);
}

body {
  font-family: $fontMain;
  color: $primary;
  // font-size: rem(16);
  @include adaptive-font(20, 16);
  line-height: 1.1;
  font-weight: 400;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: calc($container-width + $container-padding);
  padding: 0 $container-side-padding;
  margin: 0 auto;
  width: 100%;
}

h1 {
  @include adaptive-font(40, 24);
}

h2 {
  // @include adaptive-font(32, 20);
}

h3 {
  // @include adaptive-font(24, 18);
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  color: #666;
}

%img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

%bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -28;
  object-fit: cover;
  object-position: center;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}