.hero {
	position: relative;
	overflow: hidden;
	z-index: 2;

	&__body {
		padding: rem(180) 0 rem(48);

		@media (max-width: $breakpoint1366) {
			padding: rem(45) 0 rem(48);
			text-align: center;
		}

		@media (max-width: $breakpoint768) {
			padding: rem(20) 0 rem(48);
		}

		@media (max-width: $breakpoint576) {
			padding: rem(20) 0 rem(48);
		}
	}

	&__title {
		color: $accent;
		font-size: rem(36);
		margin-bottom: rem(28);


		@media (max-width: $breakpoint992) {
			font-size: rem(30);
		}

		@media (max-width: $breakpoint768) {
			font-size: rem(26);
		}

		@media (max-width: $breakpoint576) {
			font-size: rem(20);
		}
	}

	&__shortener {
	}

	&__qr-title {
		color: $accent;
	  font-size: rem(24);
		margin-bottom: rem(14);

	  @media (max-width: $breakpoint768) {
			font-size: rem(20);
		}

		@media (max-width: $breakpoint576) {
			font-size: rem(18);
		}
	}


	&__qr-img-wrapper {
		@media (max-width: $breakpoint1366) {
			margin: 0 auto;
		}
	}

	&__qr-image {
	}

	&__illustration-wrapper {
		position: absolute;
  	overflow: hidden;
  	height: 700px;
  	width: auto;
  	bottom: 0;
  	right: 0;
  	z-index: -1;

  	@media (max-width: $breakpoint1366) {
  		display: none;
  	}
	}

	&__illustration {
		@extend %img;
	}
	
}
