.logged-hero {
	overflow: hidden;
	z-index: 2;
	position: relative;

	&__body {
		padding-top: rem(36);
		min-height: rem(348);
		margin: 0 auto;

		@media (max-width: $breakpoint1366) {
			min-height: unset;
			padding-top: rem(32);
		}

		@media (max-width: $breakpoint768) {
			padding-top: rem(16);
		}

		@media (max-width: $breakpoint576) {
			padding: 0;
		}
	}

	&__content {
	}

	&__form {
		max-width: rem(1032);
		margin-right: auto;
		margin-left: auto;
		
		&__input-wrapper {
			max-width: rem(1032);
			margin-right: auto;
			margin-left: auto;
		}

		& > .form__input-wrapper--long-link {
			max-width: rem(1032);
		}

		& > .form__input-wrapper--short-link {
			margin-right: auto;
			margin-left: auto;
			margin-bottom: rem(10);
		}

		& >	.form__optional-inputs {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-auto-flow: column;	
			column-gap: rem(22);
			row-gap: 0;

			> .form__input-wrapper {
				margin-right: unset;
				margin-left: unset;
			}
			
			@media (max-width: 498px) {
				display: block;
			}
		}
	}

	&__qr-body {
		display: none;

		& > .qr-img-wrapper {
			margin-right: auto;
			margin-left: auto;
		}
	}
}