.nav {
  display: flex;
  align-items: center;
	
  &__list {
    display: flex;
    flex-flow: row nowrap;
    gap: rem(16);

    @media (max-width: $breakpoint768) {
      gap: rem(0);
    }
  }

  &__item {
    white-space: nowrap;
  }

  &__button {
    position: relative;
    z-index: 2;
  }
}
