.nav {
  display: flex;
  align-items: center;
	
  &__list {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.75rem;
    // padding: 0.6rem 1rem 1.25rem;
  }

  &__item {
    white-space: nowrap;
  }

  &__link {
    color: #000;

    @media (hover: hover) { 
      &:hover {
        color: $accent;
        transition: $hover;

        @media (max-width: $burger-breakpoint) {
          color: unset;
          text-decoration: underline;
        }
      }
    }
  }
}
