.password-check-page {
	height: calc(100vh - rem(120));
	min-height: rem(504);
	position: relative;

	@media (max-width: $breakpoint768) {
    height: calc(100vh - rem(64));
  }

	&__body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__form {
	}

	&__illustration-wrapper {
		max-width: rem(350);
		min-width: rem(250);
		padding: rem(16);
		overflow: hidden;
	}

	&__illustration {
		@extend %img;
	}
}

.form {

	&__input-wrapper {

		&--password-check {
			display: block;
			max-width: rem(468);
		}
	}

	&__label {

		&--password-check {
		}
	}

	&__input {

		&--password-check {
			&:focus {
				box-shadow: rem(3) rem(3) rem(20) $accent;
			}			
		}
	}

	&__button {

		&--password-check {
			user-select: none;
			position: absolute;
			top: rem(6);
			right: rem(10);
			width: rem(40);
			height: rem(40);
			background-color: $accent;
			border: 1px solid $accent;
			border-radius: rem(30);
			cursor: pointer;
			transition: all 0.1s linear;

			&.loader {
		    background-color: transparent;
		    border: none;
  		}

			@media (hover: hover) { 
				&:hover {
					background-color: lighten($accent, 6%);
					border: 1px solid lighten($accent, 6%);
			  }
			}

			&:active {
				&:hover {
					background-color: darken($accent, 15%);
			  }
			}

			& svg {
				width: rem(18);
				height: rem(20);
				margin-top: rem(2);
				fill: $secondary;
				transition: all 0.1s linear;
			}
		}
	}
}