.form {

	&__input-wrapper {
		position: relative;
		margin-bottom: rem(28);

		&--long-link {
			max-width: rem(864);

			@media (max-width: $breakpoint1440) {
				max-width: rem(784);
			}
		}

		&--short-link {
			max-width: rem(470);
		}

		@media (max-width: $breakpoint1366) {
			margin-right: auto;
			margin-left: auto;
		}

		@media (max-width: $breakpoint768) {
			font-size: rem(26);
			margin-bottom: rem(14);
		}
	}

	&__label {
		&--long-link {
		}

		&--short-link {
		}
	}

	&__input {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: rem(18);
		padding: 15px 60px 15px 20px;
		width: 100%;
		border: 1px solid $accent;
		border-radius: 30px;
		transition: $hover;

		&--long-link {
			&:focus {
				box-shadow: 3px 3px 20px $accent;
			}
		}

		&--short-link {
		}
	}

	&__button {
		position: absolute;
		top: 7px;
		right: 10px;
		width: 40px;
		height: 40px;
		background-color: $accent;
		border: 1px solid $accent;
		border-radius: 30px;
		cursor: pointer;
		transition: $hover;
		transition: all 0.1s linear;

		&--submit {
			padding: 10px 10px;
		}

		&--copy {
			padding: 10px 10px;
		}

		@media (hover: hover) { 
			&:hover {
				opacity: 0.9;
		  }
		}

		&:active {
				background-color: darken($accent, 15%);
		  }

		& svg {
			width: 20px;
			height: 20px;
			fill: $secondary;
			transition: opacity 0.1s linear;
		}
	}
}


.loader {
  pointer-events: none;
  border: 1px solid $secondary;
  background-color: $secondary;
  animation: rotate 1s linear infinite;
  transition: all 0.1s linear;
  
  & svg {
  	opacity: 0;
    transition: opacity 0.1s linear;
	}

	&::after {
  	content: "";
  	position: absolute;
  	inset: 4px;
  	border: 2px solid $gray;
    background-color: $secondary;
    border-radius: 50%;
	  animation: slowFilling 2s linear infinite;
  }
}

@keyframes rotate {
	100% {transform: rotate(360deg)}
}

@keyframes slowFilling {
	0% {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	25% {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	50% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
	75% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
	100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


.checkmark {
  pointer-events: none;

  & svg {
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  &::after {
    content: "";
    position: absolute;
    height:14px;
    width: 8px;
    opacity: 1;
    transform-origin: left top;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    top: 20px;
    right: 18px;
    animation: showCheckmark ease 0.5s;
    transform: scaleX(-1) rotate(135deg);
  }
}

@keyframes showCheckmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 6px;
    width: 4px;
    opacity: 1;
  }
  40% {
    height: 10px;
    width: 6px;
    opacity: 1;
  }
  100% {
    height: 14px;
    width: 8px;
    opacity: 1;
  }
}